@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

:root {
  /* Typography */
  --family: 'Nunito Sans', sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 400;
  --fw-normal: 600;
  --fw-bold: 800;
}

body {
  margin: 0;
  font-family: var(--family);
  font-weight: var(--fw-light);
}
